:root {
    --r-background-color: white;
    --r-main-font: Verdana;
    --r-main-font-size: 2rem;
    --r-main-color: #6C797B;
    /*--r-block-margin: #{$blockMargin};*/
    /*--r-heading-margin: #{$headingMargin};*/
    --r-heading-font: Verdana;
    --r-heading-color: #0c5b9d;
    /*--r-heading-line-height: #{$headingLineHeight};*/
    /*--r-heading-letter-spacing: #{$headingLetterSpacing};*/
    /*--r-heading-text-transform: #{$headingTextTransform};*/
    /*--r-heading-text-shadow: #{$headingTextShadow};*/
    /*--r-heading-font-weight: #{$headingFontWeight};*/
    /*--r-heading1-text-shadow: #{$heading1TextShadow};*/
    --r-heading1-size: 5rem;
    --r-heading2-size: 4rem;
    /*--r-heading3-size: #{$heading3Size};*/
    /*--r-heading4-size: #{$heading4Size};*/
    /*--r-code-font: #{$codeFont};*/
    --r-link-color: #0c5b9d;
    /*--r-link-color-dark: #{darken($linkColor , 15% )};*/
    /*--r-link-color-hover: #{$linkColorHover};*/
    /*--r-selection-background-color: #{$selectionBackgroundColor};*/
    /*--r-selection-color: #{$selectionColor};*/
    /*--r-overlay-element-bg-color: #{$overlayElementBgColor};*/
    /*--r-overlay-element-fg-color: #{$overlayElementFgColor};*/
    --r-inline-code-color: #000;
}

.reveal h2 img {
    max-height: 35%;
    max-width: 35%;
}

.reveal pre code {
    max-height: 90vh;
    @media screen and (min-width: 1024px) {
        max-height: 40vh;
    }
}